@charset "utf-8";
@font-face {
    font-family: 'idroid';
    src: url('media/fontes/idroid.otf')}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #95eba0;
    text-align: right;
    
}
header{
    background-image: linear-gradient(to top, #3E6B44, #3E6B44, #3E964A);
    text-align: center;
    color: white;
    padding: 10px;
    border: 0px;
    margin: -8px;
}
header > p {
    text-align: center;
    
}
nav{
    text-align: left;
    font-size: 12px;

}
nav > a {
   
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
nav > a:hover {
    text-decoration: underline;
}
span{
    color: #3E964A;
    font-weight: bold;
}
main{
background-color: white;
text-indent: ;
text-align: justify;
border: 5px;
padding: 10px ;
margin: 10px 100px;
box-shadow: 2px 2px 4px 1px black;
}

main img{
    width: 100%;
}
.fonte {
    font-family: 'idroid';
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.24), white);
    color: green;
    text-align: left;
 }
 
 .link {
    text-decoration: none;
    color: #3E964A;
    font-weight: bold;    
 }
 .link > a:hover {
    text-decoration: underline;
 }
 .bugdroid{
    max-width: 30%;
 }
 #extra {
    background-color: #3E6B44;
 }
.youtube{
    position: relative;
    margin: 20px;
    padding: 5px;
    padding-bottom: 55%;
}
.youtube > iframe{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

}
 article{
    border-radius: 10px;
    background-color: #95eba0;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 4px 1px black;
 }

footer{
    background-color: darkgreen;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: .8em;
   
      
}
